extends layout

block canonical
  link(rel="canonical", href=url + "/cabbage")

block content
  div.middle-content-server
    div.logo2(role="banner")
    p.subtitle RuneScape Classic with custom content and QoL additions.
    div.cabbage-buttons
      a.button(href="/download") Download
      a.button(href="/cabbage/hiscores") Hiscores
      a.button(href="/cabbage/database") Database
      a.button(href="/wiki") Custom
        br
        | Features
      a.button(href="/cabbage/clans") Clans
      a.button(href="/faq") Rules
        br
        | &amp; FAQ

    hr

    div.statistics
      h3 Statistics
      div
        dl
          if last !== undefined
            dt Online Last 48 Hours:
            dd #{last}
          if unique !== undefined
            dt Unique Players:
            dd #{unique}
          if total !== undefined
            dt Total Players:
            dd #{total}
      