html {
  height: 100%;
}
html, body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: white;
}

a {
  color: white;
}

.subtitle {
  text-align: center;
  margin: 10px 0;
}

hr {
  width: 80%;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.space-above {
  margin-top: 10px !important;
}

.selected {
  color: yellow;
}

header {
  width: 99vw;
  max-height: 24px;
  padding-left: 1vw;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
}
header > h1, header > h1 > a {
  text-decoration: none;
  font-size: 1.15em;
  display: block;
  flex-grow: 3;
  margin: 0;
  z-index: 2;
}
header > nav {
  flex-grow: 1;
}
header ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
header li {
  list-style: none;
}
header li a {
  line-height: 22px;
}


header li a:hover, .features a:hover {
  color: gold;
}

main {
  width: 605px;
  height: 613px;
  flex: 1;
}

section.top-border {
  width: 605px;
  height: 43px;
  display: flex;
}

div.top-left-border {
  width: 100px;
  height: 43px;
  background-image: url("/static/images/edge_a.jpg");
}
div.top-middle-border {
  width: 400px;
  height: 43px;
  background-image: url("/static/images/edge_c.jpg");
}
div.top-right-border {
  width: 100px;
  height: 43px;
  background-image: url("/static/images/edge_d.jpg");
}

.index-middle-bottom {
  display: flex;
  width: 100%;
  padding-bottom: 15px;
}

.index-middle-bottom > div:first-child {
  flex: 1 0 39%;
}

.index-middle-bottom > div:last-child {
  flex: 1 0 60%;
}

p.online-count {
    margin: 5px 0;
}

.homepage-rule {
  width: 95%;
}

.recent-patches ul, .live-feed ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.recent-patches h3, .live-feed h3 {
  margin: 0 0 5px;
}
.recent-patches a {
  text-decoration: none;
  color: rgb(144, 192, 64);
  font-size: 0.9em;
  line-height: 20px;
}

.live-feed ul li {
  font-size: 0.9em;
  line-height: 20px;
}

section.middle {
  width: 605px;
  min-height: 488px;
  height: auto;
  display: flex;
  flex: 1;
}
div.mid-left-border {
  width: 41px;
  min-height: 488px;
  background-image: url("/static/images/edge_f.jpg");
}
div.mid-right-border {
  width: 41px;
  min-height: 488px;
  background-image: url("/static/images/edge_e.jpg");
}

.patch-notes-link {
  margin: 0;
}

.patch-notes-link a, .patch-notes a {
  color: rgb(144, 192, 64);
}

.patch-notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.patch-notes > div {
  width: 90%;
}

.patch-notes ul {
  padding-left: 10px;
  list-style-type: "- ";
}
.patch-notes li {
  margin-bottom: 2px;
}

div.middle-content, div.middle-play,
div.middle-content-server, div.middle-content-hiscores {
  width: 519px;
  min-height: 488px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/static/images/background.jpg");
}

div.middle-play .buttons {
  width: 519px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.features {
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid grey;
  border-radius: 5px;
  color: lightgray;
}
.features p {
  margin: 0;
}
.features ul {
  padding-left: 20px;
}

div.logo {
  width: 309px;
  height: 106px;
  padding-top: 28px;
  background-image: url("/static/images/logo.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 309px 106px;
}
div.logo2 {
  width: 309px;
  height: 106px;
  padding-top: 28px;
  background-image: url("/static/images/logo2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 309px 106px;
}

p.online {
  width: 309px;
  height: 20px;
  text-align: center;
  margin: 0;
}

div.home-buttons {
  display: inline-grid;
  width: 507px;
  height: 320px;
  grid-template-columns: repeat(39, 13px);
  grid-template-rows: repeat(9, 30px);
  align-items: center;
  justify-content: center;
}

.button {
  width: 105px;
  height: 83px;
  display: block;
  background-image: url("/static/images/button.gif");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  font-size: 19px;
  color: #e0d8c0;
  text-shadow: black 1px 2px 1px;
  font-weight: 500;
}

.button:hover, .play-button:hover,
.large-button:hover {
  filter: brightness(130%);
}

.play-button, .large-button {
  width: 195px;
  height: 150px;
  display: block;
  background-image: url("/static/images/play.gif");
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 32px;
  text-shadow: black 1px 2px;
  text-align: center;
}
.play-button {
  color: #e03010;
}

.button.launcher-button {
  grid-column-start: 6;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 4;
}
.button.discord {
  grid-column-start: 27;
  grid-column-end: 33;
  grid-row-start: 1;
  grid-row-end: 4;
}
.button.wiki {
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 7;
}
.button.code {
  grid-column-start: 30;
  grid-column-end: 36;
  grid-row-start: 4;
  grid-row-end: 7;
}
.button.single-player {
  grid-column-start: 6;
  grid-column-end: 12;
  grid-row-start: 7;
  grid-row-end: 10;
}
.button.faqs {
  grid-column-start: 27;
  grid-column-end: 33;
  grid-row-start: 7;
  grid-row-end: 10;
}
.button.rscplus {
  grid-column-start: 17;
  grid-column-end: 24;
  grid-row-start: 8;
  grid-row-end: 11;
  justify-self: center;
}
.large-button.play {
  grid-column-start: 13;
  grid-column-end: 22;
  grid-row-start: 3;
  grid-row-end: 8;
}

.large-button.play h2 {
  font-size: 36px;
  font-weight: 500;
}


section.bottom-border {
  width: 605px;
  height: 43px;
  display: flex;
}
section>div.bottom-left-border {
  width: 100px;
  height: 82px;
  background-image: url("/static/images/edge_g.jpg");
}
section>div.bottom-middle {
  width: 400px;
  height: 82px;
  display: flex;
  flex-direction: column;
}
section>div.bottom-middle>div.copyright {
  display: table-cell;
  width: 400px;
  height: 39px;
  font-size: 11px;
  text-align: center;
  vertical-align: bottom;
}
.copyright p {
  margin: 0;
}
section>div.bottom-middle>div.bottom-middle-border {
  width: 400px;
  height: 43px;
  background-image: url("/static/images/edge_c.jpg");
}
section>div.bottom-right-border {
  width: 100px;
  height: 82px;
  background-image: url("/static/images/edge_h.jpg");
}

.middle-content .rules, .middle-content .faq {
  height: auto;
  overflow: hidden;
  width: 90%;
}
.middle-content .rules h3, .middle-content .faq dt {
  text-align: left;
  margin-bottom: 0;
  margin-top: 7px;
  font-size: 1em;
}
.middle-content .rules ul, .middle-content .faq dd {
  margin: 0;
  padding-left: 20px;
  font-size: .8rem;
}

.middle-content .rules {
  margin-bottom: 20px;
}

div.orsc-buttons, div.cabbage-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  flex-wrap: wrap;
}
.cabbage-buttons a {
  flex: 1 0 32%;
}
.statistics {
  width: 70%;
  margin-bottom: 10px;
}
.statistics h3 {
  text-align: center;
  margin: 5px 0 10px;
}
div.middle-content-server dl {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0;
  margin: 0 auto;
}

div.middle-content-server dl dd {
  text-align: right;
  margin: 1px 0;
}

.server > p {
  text-align: center;
  margin: 0;
  padding-top: 4px;
}

.hiscores {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 4px;
  margin-bottom: 8px;
  min-height: 316px;
}

.hiscores .page-link {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.hiscores .page-link:hover, .hiscores .page-link:focus {
  color: gold;
  cursor: pointer;
}

.middle-content-hiscores .title .hiscores-title {
  font-size: 1.1em;
}

.hiscores-panel {
  border: 2px solid #382418;
  outline: 2px solid black;
  background-color: black;
}

.middle-content-hiscores .title {
  width: 234px;
  min-height: 32px;
  padding: 4px;
  text-align: center;
}

.middle-content-hiscores .title h2 {
  font-size: 13px;
  margin: 0;
}

.middle-content-hiscores .title ul {
  padding: 0;
  margin: 0;
  min-height: 16px;
  list-style: none;
}

.middle-content-hiscores .title li {
  height: 16px;
}

a.hiscores-link {
  font-size: 13px;
  color: rgb(144, 192, 64);
  text-decoration: none;
  display: block;
}

.hiscore-links h4, .hiscore-table h4 {
  font-size: 13px;
  margin: 0;
  margin-bottom: 2px;
  text-align: center;
}

.player-page-link:hover, .clan-page-link:hover {
  color: lightgray;
}

.clan-list td:not(:last-child) {
  padding-left: 5px;
}

.hiscore-table .hiscores-panel.clan-list {
  width: auto;
}

.hiscore-links {
  width: 160px;
  min-height: 310px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.hiscore-links .hiscores-panel {
  text-align: center;
  padding: 8px 4px;
  width: 114px;
  min-height: 264px;
}

.hiscores > .hiscore-links .hiscores-panel.players-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  height: auto;
  min-height: auto;
}

.hiscores > .hiscore-links .hiscores-panel.players-nav dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.hiscores > .hiscore-links .hiscores-panel.players-nav dt,
.hiscores > .hiscore-links .hiscores-panel.players-nav dd {
  flex: 1 0 45%;
  margin: 0;
}

.hiscores > .hiscore-links .hiscores-panel.players-nav dt {
  text-align: left;
  padding-left: 5px;
}
.hiscores > .hiscore-links .hiscores-panel.players-nav dd {
  text-align: left;
  padding-right: 5px;
}

.players-nav .hiscores-link {
  padding: 10px 0;
}

.hiscore-table {
  width: 290px;
  min-height: 312px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiscore-table .hiscores-panel {
  width: 254px;
  min-height: 278px;
  padding: 4px;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}

.hiscore-table th {
  font-weight: 700;
  text-align: left;
}
.hiscore-table tr, .hiscore-table td {
  height: 14px;
  line-height: 14px;
}
.hiscore-table td, .hiscore-table th {
  font-size: 13px;
  padding: 0 1px;
}

.hiscores.player .hiscore-table .hiscores-panel {
  min-height: auto;
  padding-bottom: 10px;
}

.players-info {
  flex: 2 0 30%;
}

.players-skills, .clan-members {
  flex: 1 0 50%;
  width: auto;
}

.players-skills table, .clan-members table {
  width: 100%;
}

.player {
  justify-content: space-between;
}

.hiscore-links .hiscores-panel.players-nav {
  padding: 0;
  width: 90%;
}

.hiscore-search {
  display: flex;
  justify-items: center;
  align-content: space-between;
}
.search-box {
  width: 180px;
  height: 73px;
  padding: 4px;
  border: 4px inset #373737;
  outline: 2px solid black;
  background-color: #474747;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}
.search-box:first-child {
  margin-right: 25px;
}

.error-message {
  margin: 15px;
  text-align: center;
}

.error-image {
  margin-top: 15px;
}

.database {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.database form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.database hr {
  margin: 10px 0;
  width: 100%;
}

.database tr, .database th {
  padding: 2px;
}

.database > p {
  margin: 0 15px;
}

@media (max-width: 576px) {

  header {
    flex-direction: column;
    z-index: 2;
  }

  header ul {
    padding-top: 10px;
  }

  header li:nth-child(6) {
    display: none;
  }

  header li:nth-child(7) {
    display: none;
  }

  main {
    flex-direction: column;
    flex-flow: column;
    height: auto;
    min-height: auto;
    font-size: 1em;
  }

  main, section.middle,
  div.middle-content, div.middle-play,
  div.middle-content-server, div.middle-content-hiscores,
  .orsc-buttons, .cabbage-buttons {
    width: 100vw !important;
  }

  section.middle {
    flex: 1;
    overflow: auto;
    min-height: auto;
  }
  div.middle-content {
    min-height: auto;
  }

  .index-middle-bottom {
    flex-direction: column;
  }

  .index-middle-bottom div:first-child {
    padding-bottom: 10px;
  }

  .middle-content-hiscores .title {
    width: auto;
  }

  .hiscores {
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }

  .hiscore-links, .hiscore-table, .hiscore-table .hiscores-panel {
    max-width: 50vw;
    width: auto;
    height: auto;
    max-width: 80vw;
  }

  .hiscore-table .hiscores-panel {
    flex-wrap: wrap;
  }

  .hiscore-table .hiscores-panel table {
    width: 100%;
  }

  .hiscore-table .hiscores-panel > a:first-child {
    display: block;
    order: 2;
    flex: 1;
    text-align: left;
  }

  .hiscore-table .hiscores-panel > a:first-child:after {
    content: " Prev"
  }

  .hiscore-table .hiscores-panel > a:last-child {
    display: block;
    order: 3;
    flex: 1;
    text-align: right;
  }

  .hiscore-table .hiscores-panel > a:last-child:before {
    content: "Next "
  }

  .hiscore-links h4, .hiscore-table h4, .middle-content-hiscores .title h2 {
    font-size: 1em;
  }

  .hiscore-links h4 span {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .hiscore-links h4:after {
    text-align: center;
    content: 'Menu';
  }

  .hiscore-table td, .hiscore-table th {
    font-size: 0.9em;
  }

  .hiscore-links, .hiscore-links .hiscores-panel {
    width: auto;
    min-height: auto;
    margin-bottom: 10px;
  }

  .hiscores > .hiscore-links .hiscores-panel.players-nav {
    flex-direction: column;
    justify-content: start;
    height: auto;
    min-height: auto;
  }
  .hiscores > .hiscore-links .hiscores-panel.players-nav a {
    flex: 0;
  }

  a.hiscores-link {
    font-size: 1em;
    margin-bottom: 2px;
  }

  div.hiscore-search {
    width: 100vw;
    align-items: center;
    flex-direction: column;
  }

  .search-box.search-rank {
    margin: 0;
  }
  .search-box input {
    width: 90%;
    margin-top: 2px;
  }

  div.home-buttons {
    display: flex;
    width: 100vw;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .large-button.play {
    order: 1;
    flex-basis: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .button.wiki {
    order: 2;
  }
  .button.discord {
    order: 2;
  }
  .button.launcher-button {
    order: 2;
  }
  .button.code {
    order: 2;
  }
  .button.single-player {
    display: none;
  }
  .button.faqs {
    order: 2;
  }
  .button.rscplus {
    display: none;
  }

  div.middle-play .buttons {
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }

  section.top-border {
    z-index: 1;
    width: 100vw;
  }

  div.top-left-border {
    width: 0;
    height: 0;
    background-image: none;
  }
  div.top-middle-border {
    width: 100vw;
    height: 0;
    background-image: none;
  }
  div.top-right-border {
    width: 0;
    height: 0;
    background-image: none;
  }
  

  div.mid-left-border {
    width: 0;
    min-height: 488px;
    background-image: none;
  }
  div.mid-right-border {
    width: 0;
    min-height: 488px;
    background-image: none;
  }

  section.bottom-border {
    width: 100vw;
    min-height: 20px;
  }

  section>div.bottom-left-border {
    width: 0;
    height: 0;
    background-image: none;
  }
  section>div.bottom-middle {
    width: 100vw;
    height: 40px;
    display: flex;
    flex-direction: column;
    background: url('/static/images/background.jpg');
  }
  section>div.bottom-middle>div.copyright {
    width: 100vw;
    height: 39px;
    font-size: 11px;
    text-align: center;
  }

  section>div.bottom-middle>div.bottom-middle-border {
    width: 400px;
    height: 0;
    background-image: none;
  }
  section>div.bottom-right-border {
    width: 0;
    height: 0;
    background-image: none;
  }
  
}

@media (max-width: 370px) {
  .hiscores {
    flex-direction: column;
    align-items: center;
  }

  .hiscores > .hiscore-links .hiscores-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .hiscores > .hiscore-links .hiscores-panel a {
    flex: 1 0 30%;
  }
}
  
